body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body section {
  padding: 80px 0;
}
body .navbar {
  background-color: #fff;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
body .navbar .nav-item {
  margin-right: 30px;
  color: #717171;
}
body .navbar .nav-item .active {
  color: #0bb0f0;
  font-weight: 500;
}
body .action_button {
  margin-top: 20px;
}
body .action_button .btn_action {
  background-color: #0bb0f0;
  color: #fff;
  padding: 16px 32px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 6px;
  margin-right: 10px;
}
body .action_button .btn_action_outline {
  border: 2px solid #0bb0f0;
  color: #0bb0f0;
  padding: 16px 32px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 6px;
}
body .hero_section {
  background-image: url(../images/bg/bg_hero_pattern.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}
body .hero_section .main_title {
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
}
body .hero_section .img_wrapper img {
  width: 100%;
}
body .hero_section .download_action {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .feature_section .feature_wrapper {
  border: 1px solid #e1e1e1;
  padding: 50px;
  border-radius: 15px;
  margin: 50px;
  text-align: center;
  min-height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .feature_section .feature_wrapper .feature_item img {
  width: 40px;
  height: 40px;
}
body .feature_section .feature_wrapper .feature_item h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #1f1f1f;
  margin-top: 25px;
}
body .feature_section .action_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
body .feature_section .action_wrapper .btn_learn_more {
  background-color: #4b61dd;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding: 16px 32px;
  border-radius: 6px;
}
body .service_section {
  background-color: #f1f1f1;
}
body .service_section .card_service_wrapper {
  background-color: #fff;
  margin: 50px;
  padding: 50px;
  border-radius: 10px;
  min-height: 312px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .service_section .card_service_wrapper .card_service_item .service_image {
  width: 38px;
  margin-bottom: 20px;
}
body .service_section .card_service_wrapper .card_service_item h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 20px;
}
body .service_section .card_service_wrapper .card_service_item p {
  color: #717171;
  line-height: 22px;
  font-size: 17px;
}
body .section_title {
  text-align: center;
  margin-bottom: 50px;
}
body .section_title h3 {
  font-size: 28px;
  font-weight: 600;
  color: #1f1f1f;
  line-height: 34px;
}
body .section_title p {
  font-size: 20px;
  font-weight: 400;
  color: #717171;
  line-height: 24px;
}
body .why_choose_us_section .vid_wrapper {
  margin: 26px;
  border-radius: 8px;
  overflow: hidden;
}
body .about_us_section .about_wrapper {
  margin-left: 80px;
}
body .about_us_section .about_wrapper h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  color: #1f1f1f;
  margin-bottom: 20px;
}
body .about_us_section .about_wrapper p {
  font-size: 17px;
  line-height: 22px;
  color: #1f1f1f;
  margin-bottom: 20px;
  text-align: justify;
}
body .about_us_section .about_wrapper .list_items .item_desc h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #1f1f1f;
}
body .about_us_section .about_wrapper .list_items .item_desc p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
}
body .visi_misi_section {
  background-image: url(../images/bg/visi_misi_pattern.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
body .visi_misi_section .wrapper {
  max-width: 540px;
}
body .visi_misi_section .wrapper .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  color: #1f1f1f;
  margin-bottom: 20px;
}
body .visi_misi_section .wrapper .content {
  font-size: 17px;
  color: #717171;
  line-height: 22px;
  font-weight: 400;
}
body .visi_misi_section_2 {
  background-image: url(../images/bg/tanggun_jawab_pattern.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
body .visi_misi_section_2 .wrapper {
  max-width: 540px;
}
body .visi_misi_section_2 .wrapper .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  color: #1f1f1f;
  margin-bottom: 20px;
}
body .visi_misi_section_2 .wrapper .content {
  font-size: 17px;
  color: #717171;
  line-height: 22px;
  font-weight: 400;
}
body .store_section .store_wrapper {
  padding: 50px;
  border: 1px solid #e1e1e1;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .store_section .action_button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .promotion_section .promotion_lists .badge-promotion {
  background-color: #E3EBFF;
  color: #007AFF;
  text-transform: uppercase;
  padding: 5px 19px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
body .promotion_section .image_wrapper {
  margin: 30px;
}
body .promotion_section .image_wrapper .image_promotion {
  width: 100%;
  max-height: 285px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
body .team_section .team_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .team_section .team_wrapper img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
body .team_section .team_wrapper h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #1f1f1f;
}
body .team_section .team_wrapper p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
}
body .testimony_section {
  background-color: #f1f1f1;
}
body .testimony_section .card_wrapper {
  margin: 30px 0;
}
body .testimony_section .card_wrapper .card_testimonial {
  padding: 34px 50px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
}
body .testimony_section .card_wrapper .card_testimonial p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #1f1f1f;
  text-align: justify;
}
body .testimony_section .card_wrapper .card_testimonial img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body .testimony_section .card_wrapper .card_testimonial .profile h4 {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #0bb0f0;
  margin-bottom: 5px;
}
body .testimony_section .card_wrapper .card_testimonial .profile p {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #717171;
}
body .testimony_section .btn_back {
  border: 1px solid #717171;
  color: #717171;
  border-radius: 50%;
  padding: 16px;
}
body .testimony_section .btn_next {
  border: 1px solid #0bb0f0;
  color: #0bb0f0;
  border-radius: 50%;
  padding: 16px;
}

@media (max-width: 576px) {
  body section {
    padding: 40px 0;
  }
  body .action_button {
    margin-top: 10px;
    text-align: center;
  }
  body .action_button .btn_action {
    background-color: #0bb0f0;
    color: #fff;
    padding: 10px 26px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 6px;
    margin-right: 6px;
  }
  body .action_button .btn_action_outline {
    border: 2px solid #0bb0f0;
    color: #0bb0f0;
    padding: 10px 26px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 6px;
  }
  body .hero_section {
    background-size: contain;
    background-position-y: 300px;
  }
  body .hero_section .main_title {
    font-size: 32px;
    line-height: 55px;
    text-align: center;
  }
  body .hero_section .img_wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .hero_section .img_wrapper img {
    width: 80%;
  }
  body .feature_section .feature_wrapper {
    padding: 20px;
    margin: 10px;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  body .feature_section .feature_wrapper .feature_item img {
    width: 40px;
    height: 40px;
  }
  body .feature_section .feature_wrapper .feature_item h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #1f1f1f;
    margin-top: 18px;
  }
  body .service_section {
    background-color: #f1f1f1;
  }
  body .service_section .card_service_wrapper {
    background-color: #fff;
    margin: 22px;
    padding: 34px;
    min-height: 280px;
  }
  body .service_section .card_service_wrapper .card_service_item .service_image {
    width: 38px;
    margin-bottom: 16px;
  }
  body .service_section .card_service_wrapper .card_service_item h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #1f1f1f;
    margin-bottom: 10px;
  }
  body .service_section .card_service_wrapper .card_service_item p {
    color: #717171;
    line-height: 20px;
    font-size: 14px;
  }
  body .section_title {
    text-align: center;
    margin-bottom: 25px;
  }
  body .section_title h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f1f1f;
    line-height: 34px;
  }
  body .section_title p {
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    line-height: 24px;
  }
  body .about_us_section .about_wrapper {
    margin: 24px;
  }
  body .about_us_section .about_wrapper h3 {
    font-size: 22px;
    margin-bottom: 12px;
  }
  body .about_us_section .about_wrapper p {
    font-size: 14px;
  }
  body .about_us_section .about_wrapper .list_items .item_desc h4 {
    font-size: 16px;
  }
  body .about_us_section .about_wrapper .list_items .item_desc p {
    font-size: 14px;
  }
  body .visi_misi_section .wrapper {
    margin: 24px;
  }
  body .visi_misi_section .wrapper .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: #1f1f1f;
    margin-bottom: 12px;
  }
  body .visi_misi_section .wrapper .content {
    font-size: 14px;
    color: #717171;
    line-height: 18px;
    font-weight: 400;
  }
  body .visi_misi_section_2 .wrapper {
    margin: 24px;
  }
  body .visi_misi_section_2 .wrapper .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: #1f1f1f;
    margin-bottom: 12px;
  }
  body .visi_misi_section_2 .wrapper .content {
    font-size: 14px;
    color: #717171;
    line-height: 18px;
    font-weight: 400;
  }
  body .promotion_section .image_wrapper {
    margin: 10px;
  }
}/*# sourceMappingURL=main.css.map */